/* 基本 */

.all {
    width: 100%;
    margin: 0 auto;
}

.max {
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

#menuFrame {
    width: 100%;
    overflow: visible;
    display: block;
}

.left {
    float: left;
}

.clear {
    clear: both;
}


/* 头部 */

.header {
    top: 0;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    z-index: 99;
    height: 74px;
    /* padding: 13px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(133, 146, 158, 1);
}

.header .content {}

.header .content img {
    width: 163px;
    height: 48px;
    margin-left: 65px;
    vertical-align: middle;
}

.header .content .banner {
    float: right;
    display: inline-block;
    height: 48px;
    margin-right: 60px;
}

.header .content .banner span {
    font-size: 16px;
    line-height: 48px;
    margin-right: 60px;
}

.header .content .banner span a {
    color: rgba(51, 51, 51, 1);
}

.header .content .banner span .active {
    color: rgba(0, 148, 234, 1)
}


/* 主部 */

.main {
    min-height: 500px;
    padding-top: 74px;
}


/* 底部 */

.footer {
    background: rgba(46, 48, 51, 1);
    /* height: 300px; */
}

.footer .content {
    font-size: 16px;
    line-height: 22px;
    color: rgba(133, 146, 158, 1);
    padding-top: 52px;
    padding-bottom: 12px;
}

.footer .content .top {
    border-bottom: 1px solid rgba(102, 102, 102, 1);
}

.footer .content .contact-way {
    display: inline-block;
    margin-bottom: 52px;
}


/* 头像+电话 */

.footer .content .contact-way .phone {
    margin-bottom: 20px;
}

.footer .content .contact-way .phone .head {
    display: inline-block;
    width: 54px;
    height: 54px;
    background-image: url(../image/kefu.png);
    background-size: 54px 54px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.footer .content .contact-way .phone .right {
    display: inline-block;
}

.footer .content .contact-way .phone .right span {
    display: block;
}

.footer .content .contact-way .phone .right .title {}

.footer .content .contact-way .phone .right .number {
    font-size: 22px;
    font-family: Arial-BoldMT;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}


/* 邮箱+地址 */

.footer .content .contact-way .address {}

.footer .content .contact-way .address span {
    font-size: 14px;
    line-height: 20px;
    display: block;
}

.footer .content .contact-way .address .title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 22px;
}


/* item */

.footer .content .item {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.footer .content .item span {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.footer .content .item .title {
    margin-bottom: 17px;
    font-size: 16px;
}


/* 产品详情 */

.footer .content .product-detail {
    margin-left: 75px
}


/* 关于我们 */

.footer .content .about-us {
    margin-left: 110px
}


/* 分割线 */

.footer .content .split {
    width: 1px;
    height: 108px;
    background: rgba(102, 102, 102, 1);
    margin-left: 119px;
    margin-top: 18px;
}


/* 二维码 */

.footer .content .qrcode {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    /* float: left; */
}

.footer .content .qrcode .img {
    display: inline-block;
    width: 78px;
    height: 78px;
    background-size: 78px 78px;
    background-repeat: no-repeat;
    margin-bottom: 6px;
}

.footer .content .qrcode span {
    display: block;
}


/* 公总号 */

.footer .content .qrcode.gzh {
    margin-left: 80px
}

.footer .content .qrcode.gzh .img {
    background-image: url(../image/gzh.png);
}


/* 安卓 */

.footer .content .qrcode.Android {
    margin-left: 49px;
}

.footer .content .qrcode.Android .img {
    background-image: url(../image/Android.png)
}


/* IOS */

.footer .content .qrcode.IOS {
    margin-left: 33px;
}

.footer .content .qrcode.IOS .img {
    background-image: url(../image/IOS.png)
}


/* 底部bottom */

.footer .content .bottom {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

.footer .content .bottom div {
    margin-top: 12px;
}

.footer .content .bottom span:first-child {
    margin-right: 18px;
}


/* 取消A标签默认颜色 */

.footer a {
    color: rgba(133, 146, 158, 1);
}